# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# pytest cache
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
*.cover

# Flask egg-info
flask_app.egg-info/


# VS Code settings
.vscode/


# Ignore uploaded media files
/static/media/


.dockerignore

.env

__pycache__